body{
  background-image: url(https://ae01.alicdn.com/kf/HTB1mEqBRFXXXXcTXXXXq6xXFXXXh/Vintage-Large-Mural-Photo-Wallpapers-for-Living-Room-TV-Sofa-Background-Wall-Paper-3d-Wall-Murals.jpg);
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.logo{
  color: white;
  font-size: 3em;
  background-color: rgb(41,184,229);
  text-align: center;
  width: 80%;
}

form{
  background-color: white;
  width: 30em;
  display: inline-block;
  margin: 1em;
  text-align: center;
  border: 0;
}

textarea{
  border:1px solid white;
  font-size: 1em;
  font-family: cursive;
}

.counter{
  display: inline-block;
  width: 15%;

}

button {
  display: flow;
  border: 1px solid white;
  left: 0;
  bottom: 0;
  width: 30%;
  height: 3em;
  font-size: 1em;
}

.save{
  background-color: rgb(0,121,191) ;
}

.comment-saver-parent {
  background-color: silver;
}
.red {
  outline: none;
  border: 1px solid red;
}

.gray {
  border: 1px solid gray;
}
